:root {
    --dark: #0a0908;
    --red1: #640d14;
    --red2: #38040e;
    --gold: #a47148;
    --light: #f8f9fa;
    --grey: #6c757d;
    --text: #ffffff;
    --font1: font-family: "Manufacturing Consent", system-ui;
    --font2: font-family: "Playfair Display", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font1);
    background-color: var(--dark);
    color: var(--text);
    overflow-x: hidden;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    height: 100px;
    z-index: 999;
    transition: all 1s ease-in-out;
    animation: decima 1s ease-in-out;
}

nav.sc {
    background-color: var(--dark);
    box-shadow: 10px 3px 10px var(--dark);
}

@keyframes decima {
    0% {
        transform: translateY(-100px);
    }
}

.navItems {
    background-color: var(--grey);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    border-radius: 999px;
}

.navItems img {
    width: 30px;
}

.navItems:hover {
    cursor: pointer;
}

.navItems a {
    color: inherit;
    text-decoration: none;
    letter-spacing: 5px;
    opacity: 0.8;
    transition: all 200ms linear;
    font-weight: 700;
}
